<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9001/BlogPostService" binding="netTcpBinding"
                name="tcp" contract="WcfProxies.Contracts.Services.IBlogPostService" />
      <endpoint address="http://localhost:9002/BlogPostService" binding="wsHttpBinding"
                name="ws" contract="WcfProxies.Contracts.Services.IBlogPostService" />
    </client>
  </system.serviceModel>
</configuration>